.Header {
  text-align: center;
}

.articleCardTop {
  display: flex;
  justify-content: space-between;
}

.articleCardBottom {
  display: flex;
  justify-content: space-between;
}

.links {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}
