.Header {
  text-align: center;
}

.articleCardTop {
  display: flex;
  justify-content: space-between;
}

.articleCardBottom {
  display: flex;
  justify-content: space-between;
}

.singleArticleCardBottom {
  float: right;
}

.links {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

.cardVotes {
  margin-left: auto;
}

.commentCard {
  background-color: rgb(241, 241, 241);
}

.commentCardTop {
  display: flex;
  justify-content: space-between;
}

.commentCardBottom {
  float: right;
}

.commentInput {
  width: 100%;
}

#commentInput {
  width: 100vw;
  padding: 0px;
  padding-bottom: 30px;
}

.sort {
  float: right;
}
