.Header {
  text-align: center;
}

.articleCardTop {
  display: flex;
  justify-content: space-between;
}

.articleCardBottom {
  display: flex;
  justify-content: space-between;
}

.singleArticleCardBottom {
  float: right;
}

.links {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

.cardVotes {
  margin-left: auto;
}
